.our_price{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:60px 0;
  .container{
    width:50%;
  }
  h2{
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
  }
  .price_section{
    display: flex;
    gap:30px;
    width:100%;
  }
}